doctype html
//if lt IE 7 
  html.ie.ie6(lang='en')  
//if IE 7 
  html.ie.ie7(lang='en')  
//if IE 8 
  html.ie.ie8(lang='en')  
// [if (gte IE 9)|!(IE)] <!
html(lang='en')
  // <![endif]
  head
    //
      Basic Page Needs
      ==================================================
    title Snail Mail My Email
    meta(name='description', content="A worldwide collaborative art project where volunteers handwrite strangers' emails and send physical letters to the intended recipients, free of charge.")
    meta(name='author', content='CashStudios')
    meta(name='keywords', content='snail mail, snail mail my email, email, handwritten letter, letter, ivan cash, book, handwritten letters in a digital world')
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    // Open Graph data
    meta(property='og:title', content='Snail Mail My Email')
    meta(property='og:type', content='article')
    meta(property='og:url', content='http://www.snailmailmyemail.org/')
    meta(property='og:image', content='http://snailmailmyemail.org/images/fb-share.jpg')
    meta(property='og:description', content="A worldwide collaborative art project where volunteers handwrite strangers' emails and send physical letters to the intended recipients, free of charge.")
    meta(name='google-site-verification', content='0cHKnC4LdhU404RADBNTAdjkOSkZu-Gy4Y4cl0b92G4')
    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
    //
      Mobile Specific Metas
      ==================================================
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    //
      CSS
      ==================================================
    link(rel='stylesheet', href='main.css')
    //
      Google Font
      ==================================================
    script(type='text/javascript', src='//use.typekit.net/xym0kbc.js')
    script(type='text/javascript').
      try{Typekit.load();}catch(e){}
    link(href='http://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister&v2', rel='stylesheet', type='text/css')
    //
      Favicons
      ==================================================
    link(rel='shortcut icon', href='images/favicon.ico')
    link(rel='apple-touch-icon', href='images/apple-touch-icon.png')
    link(rel='apple-touch-icon', sizes='72x72', href='images/apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='114x114', href='images/apple-touch-icon-114x114.png')
    script(type='text/javascript').
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-1244930-20']);
      _gaq.push(['_trackPageview']);
      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  body
    //
      Primary Page Layout
      ==================================================
    #overlay-gray
    #videobg
      video(width="320", height="240", autoplay loop)
        source(src="videos/smme_bg.mp4", type="video/mp4")
    .container
      #small-menu.visible-sm
        #small-menu-hamburger MENU
        #small-menu-slider
          #small-menu-close CLOSE X
          ul#small-nav
            li#nav-home.nav-item(data-panel-id='home') Home
            // <li id="nav-send-a-letter" class="nav-item" data-panel-id="send-a-letter"><a>Send a Letter</a></li>
            li#nav-map.nav-item(data-panel-id='map')
              a Letter Map
            li#nav-gallery.nav-item(data-panel-id='gallery')
              a Letter Gallery
            li#nav-book.nav-item(data-panel-id='book-sm')
              a The Book
            li#nav-footer.nav-item(data-panel-id='footer-sm')
              a Project Info
          #social-small
            a.addthis_button_facebook_like(fb:like:layout='button_count')
            br
            br
            a.addthis_button_tweet
      .menu.hidden-sm
        ul#nav
          li#nav-home.nav-item(data-panel-id='home')
            a Home
          // <li id="nav-send-a-letter" class="nav-item" data-panel-id="send-a-letter"><a>Send a Letter</a></li>
          li#nav-map.nav-item(data-panel-id='map')
            a Letter Map
          li#nav-gallery.nav-item(data-panel-id='gallery')
            a Letter Gallery
          li#nav-book.nav-item(data-panel-id='book-lg')
            a The Book
          li#nav-footer.nav-item(data-panel-id='footer-lg')
            a Project Info
        .addthis_toolbox.addthis_default_style
          a.addthis_button_facebook_like(fb:like:layout='button_count')
          a.addthis_button_tweet
      // End .menu
      #home.sixteen.columns.header(style='margin:40px 0 0 0;')
        img#logo.img-responsive.hidden-sm.visible-lg(src='images/smme-logo-v2.png')
        img#logo.visible-md.img-responsive(src='images/snailmail-vert.png')
        hr
      // End .header
      .sixteen.columns.intro
        p.lg
          | Snail Mail My Email is a worldwide community art project where volunteers handwrite strangers' emails and send physical letters to the intended recipients, free of charge.
        p.lg
          | In 2014, 390 volunteers collectively sent 7,000+ letters over a five day span. A massive thanks to all who participated.
        br
        br
        //
          <p class="lg">For one week only (Nov. 10-16, 2014), we invite you to type a message to anyone&mdash; family, friend, secret crush, or congressional representative&mdash; and <a id="nav-send-a-letter" class="nav-item" data-panel-id="send-a-letter">send it to us</a>. We'll then handwrite your message and post it via regular mail to the recipient of your choosing, for free!</p>
          <br><br><br>
        .centered.hidden-sm
          span.lg
            a.lg(href='https://www.facebook.com/snailmailmyemail', target='_blank') Stay in touch
            |  / 
            a.lg(href='http://www.amazon.com/Snail-Mail-My-Email-Handwritten/dp/1402273827/', target='_blank') Get the book
            |  / 
            a.lg(href='http://eepurl.com/bfWs9L', target='_blank') Volunteer
            |  / 
            a.learn-more(data-panel-id='footer-lg') Learn More
        .centered.visible-sm
          span.lg
            a.lg(href='https://www.facebook.com/snailmailmyemail', target='_blank') Stay in touch
            br
            br
            a.lg(href='http://www.amazon.com/Snail-Mail-My-Email-Handwritten/dp/1402273827/', target='_blank') Get the book
            br
            br
            a.lg(href='http://eepurl.com/bfWs9L', target='_blank') Volunteer
            br
            br
            a.learn-more(data-panel-id='footer-sm') Learn More
        br
        #icons.icons.hidden-sm
        img.img-responsive.visible-sm.centered(src='images/icons.png')
      #send-a-letter.sixteen.columns
        hr.small
        hr.hidden
        h1.center Send a Letter
        #form-wrapper
          form(id='', action='POST')
            #name-address
              .title.bold.black RECIPIENT'S FULL NAME & MAILING ADDRESS:
              #address-text
                input#input-name.name-address(type='text')
                input#input-address1.name-address(type='text')
                input#input-address2.name-address(type='text')
                input#input-address3.name-address(type='text')
            #custom-option.hidden-sm
              .title.bold.black ONE CUSTOM OPTION:
              input.custom(type='radio', name='custom-option', checked='1', value='Doodle')
              em Doodle
              input.custom(type='radio', name='custom-option', value='Lipstick Kiss')
              em Lipstick Kiss
              input.custom(type='radio', name='custom-option', value='Flower Petal')
              em Flower Petal
              br
              #suggest-your-own
                input.custom(type='radio', name='custom-option', value='Suggest your own')
                em Suggest your own
              input#custom-suggestion(type='text', value='', disabled='')
            #custom-option-small.visible-sm
              select#custom-option-dropdown
                option(name='custom-option', value='default') ONE CUSTOM OPTION:
                option(name='doodle', value='Doodle') Doodle
                option(name='lipstick-kiss', value='Lipstick Kiss') Lipstick Kiss
                option(name='flower-petal', value='Flower Petal') Flower Petal
                option(name='suggest-your-own', value='Suggest your own') Suggest your own
              input#custom-suggestion-small(type='text', value='', disabled='')
            #email
              .title.bold.black YOUR EMAIL:
              input#input-email(type='text', rows='22', name='email')
              .small.black
                em This will be used to confirm your request and will never be shared.
            #message
              .title.bold.black
                | MESSAGE: 
                span#message-counter 800 Characters
              textarea#message-text(name='message', maxlength='800')
            #form-button SEND LETTER
            #legal
              input#legal-checkbox(type='checkbox', name='legal')
              #legal-text.small.black
                | Check here once you've read over your letter for spelling errors and agree to our 
                a#privacy-btn Privacy
                |  & 
                a#legal-btn Legal Notice
                | . Only one request per person please.
      #map.sixteen.columns
        hr.small
        hr.hidden
        h1.center Letter Map
        hr.hidden
        iframe.hidden-sm(width='940', height='450', frameborder='0', scrolling='no', marginheight='0', marginwidth='0', src='https://www.google.com/fusiontables/embedviz?viz=MAP&q=select+col2+from+1qcA0VEDdXxEY6jQXhhxsitwdiz4a8IqS-chF6Jg&h=false&lat=7.876220617598055&lng=-12.864885499999987&z=2&t=1&l=col2&y=1&tmplt=-1')
        br
        iframe.visible-sm(width='100%', height='250', frameborder='0', scrolling='no', marginheight='0', marginwidth='0', src='https://www.google.com/fusiontables/embedviz?viz=MAP&q=select+col2+from+1qcA0VEDdXxEY6jQXhhxsitwdiz4a8IqS-chF6Jg&h=false&lat=7.876220617598055&lng=-12.864885499999987&z=0&t=1&l=col2&y=1&tmplt=-1')
        br
        img(src='images/map-key.png')
      #gallery.sixteen.columns
        hr.small
        hr.hidden
        h1.center Letter Gallery
        hr.hidden
        script(src='http://snapwidget.com/js/snapwidget.js')
        // SnapWidget
        iframe.hidden-sm(src='http://snapwidget.com/p/widget/?id=6Uy9uC7b3p&t=247', title='Instagram Widget', allowtransparency='true', frameborder='0', scrolling='no', style='border:none; overflow:hidden; width:100%;height:594px;')
        // SnapWidget
        iframe#snap-frame.visible-sm(src='http://snapwidget.com/p/widget/?id=iewt6Jkf9v&t=372', title='Instagram Widget', allowtransparency='true', frameborder='0', scrolling='no')
      hr.hidden
      #book-lg.sixteen.columns.hidden-sm
        hr.small
        hr.hidden
        h1.center The Book
        hr.hidden
        map.hidden-sm(name='book')
          area(href='http://www.amazon.com/Snail-Mail-My-Email-Handwritten/dp/1402273827/', alt='Snail Mail My Email - Amazon Link', shape='RECT', coords='940,450,0,0')
          area(href='http://www.amazon.com/Snail-Mail-My-Email-Handwritten/dp/1402273827/', alt='Snail Mail My Email - Amazon Link', shape='RECT', coords='380,520,230,485')
          area(href='http://www.barnesandnoble.com/w/snail-mail-my-email-ivan-cash/1112061521', alt='Snail Mail My Email - Barnes and Nobles Link', shape='RECT', coords='523,520,400,485')
          area(href='http://www.indiebound.org/book/9781402273827', alt='Snail Mail My Email - IndieBound', shape='RECT', coords='710,520,542,485')
        img.hidden-sm(style='margin-bottom:30px;', src='images/book-snailmailmyemail-website-2013.png', alt='snail mail my emaill book', height='540', width='940', usemap='#book')
      hr.hidden
      hr.small
      hr.hidden
      #footer-sm.visible-sm
        #footer-about
          h3 About
          // <p style="font-size:13px">The Snail Mail My Email project aims to reignite the lost art of letter writing, reminding us of the power of personal connection in an increasingly digital world.</p>
          p
            | SMME was created in 2011 by artist 
            br
            a(href='http://ivancash.com/') Ivan Cash
            | , who originally conceived the project as a one-time, month long initiative where he would write and send out strangers’ emails one at a time.
          p
            | The project ultimately received over 10,000 letter submissions and prompted Cash to enlist the help of hundreds of volunteers, sending letters all over the world.
          p
            | SMME has since transitioned to a week-long annual event, held every November that anyone – even you – can participate in.
          // The next installment is scheduled to run from November 11th - 17th, 2013.
          p
        hr.small
        #footer-team
          h3 Team
          p The latest SMME Team includes: 
          ul.none
            li
              strong Creator
              br
              a(href='http://ivancash.com/', target='_blank', title='Visit Link') Ivan Cash
              | , San Francisco, CA
            //
              <li>
              <strong>Project Manager</strong><br/><a href="http://www.linkedin.com/in/lucytan" target="_blank" title="Visit Link">Lucy Tan</a>, New York, NY
              </li>
            li
              strong Administrator
              br
              a(href='http://terryfarris.com', target='_blank', title='Visit Link') Terry Farris
              | , Oklahoma City, OK
            li
              strong Organizers
              br
              a(href='http://lifepreserversblog.com', target='_blank', title='Visit Link') Beth Schmidt
              | , Pittsburgh, PA
              br
              a(href='http://twitter.com/Cailyn', target='_blank', title='Visit Link') Cailyn Huston
              | , Lexington, KY
              br
              // <a href="http://www.linkedin.com/in/muchbtr/" target="_blank" title="Visit Link">Ben Richards</a>, Kalamazoo, MI<br/>
              a(href='http://analogplanets.tumblr.com/', target='_blank', title='Visit Link') Emily Arnold
              | , New York, NY
              br
              a(href='http://deadtomsded.tumblr.com/', target='_blank', title='Visit Link') Kristin Huben
              | , Jacksonville, FL
            //
              <li>
              <strong>Photo Editor</strong><br/>Chris Boyce, Syracuse, NY
              </li>
            li
              strong Location Tracker
              br
              a(href='http://seegammarays.tumblr.com', target='_blank', title='Visit Link') David Johnson
              | , San Francisco, CA
            li
              strong Complete List of Volunteers
              br
              a(href='snailmailmyemail_team_2014.pdf') SMME 2014
              br
              a(href='snailmailmyemail_team_2013.pdf') SMME 2013
              br
              a(href='snailmailmyemail_team_2012.pdf') SMME 2012
              br
              a(href='snailmailmyemail_team.pdf') SMME 2011
              br
        hr.small
        #footer-involved
          h3 Get Involved
          // <p><P><strong>Nov 11, 2013:</strong> We are accepting letter artist volunteers: <a href="smme-volunteer-information-2013.pdf">Sign up here</a>.</P>
          p
            | Join our 
            a(href='http://www.facebook.com/snailmailmyemail') Facebook Page
            |  to stay in touch and receive updates about the project and related news:
          //
            or <a href="http://twitter.com/#!/SnailMailEmail">follow us on Twitter</a>.   <p><a href="http://twitter.com/SnailMailEmail" class="twitter-follow-button">Follow @SnailMailEmail</a>
            <script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script></p>
          iframe(src='http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fsnailmailmyemail&width=260&colorscheme=light&show_faces=true&border_color&stream=true&header=true&height=315', scrolling='no', frameborder='0', style='border:none; overflow:hidden; width:100%; height:315px;', allowtransparency='true')
          p
      #footer-lg.hidden-sm
        h1.center Project Info
        br
        br
        .one-third.column.border
          h3 About
          // <p style="font-size:13px">The Snail Mail My Email project aims to reignite the lost art of letter writing, reminding us of the power of personal connection in an increasingly digital world.</p>
          p
            | SMME was created in 2011 by artist 
            br
            a(href='http://ivancash.com/') Ivan Cash
            | , who originally conceived the project as a one-time, month long initiative where he would write and send out strangers’ emails one at a time.
          p
            | The project ultimately received over 10,000 letter submissions and prompted Cash to enlist the help of hundreds of volunteers sending letters all over the world.
          p
            | SMME has since transitioned to a week-long annual event, held every November that anyone – even you – can participate in.
          // The next installment is scheduled to run from November 11th - 17th, 2013.
          p
        .one-third.column.border
          h3 Team
          p The latest SMME Team includes: 
          ul.none
            li
              strong Creator
              br
              a(href='http://ivancash.com/', target='_blank', title='Visit Link') Ivan Cash
              | , San Francisco, CA
            //
              <li>
              <strong>Project Manager</strong><br/><a href="http://www.linkedin.com/in/lucytan" target="_blank" title="Visit Link">Lucy Tan</a>, New York, NY
              </li>
            li
              strong Administrator
              br
              a(href='http://www.terryfarris.com', target='_blank', title='Visit Link') Terry Farris
              | , Oklahoma City, OK
            li
              strong Organizers
              br
              a(href='http://lifepreserversblog.com', target='_blank', title='Visit Link') Beth Schmidt
              | , Pittsburgh, PA
              br
              a(href='http://twitter.com/Cailyn', target='_blank', title='Visit Link') Cailyn Huston
              | , Lexington, KY
              br
              // <a href="http://www.linkedin.com/in/muchbtr/" target="_blank" title="Visit Link">Ben Richards</a>, Kalamazoo, MI<br/>
              a(href='http://analogplanets.tumblr.com/', target='_blank', title='Visit Link') Emily Arnold
              | , New York, NY
              br
              a(href='http://deadtomsded.tumblr.com/', target='_blank', title='Visit Link') Kristin Huben
              | , Jacksonville, FL
            //
              <li>
              <strong>Photo Editor</strong><br/>Chris Boyce, Syracuse, NY
              </li>
            li
              strong Location Tracker
              br
              a(href='http://seegammarays.tumblr.com', target='_blank', title='Visit Link') David Johnson
              | , San Francisco, CA
            li
              strong Complete List of Volunteers
              br
              a(href='snailmailmyemail_team_2014.pdf', target='_blank') SMME 2014
              br
              a(href='snailmailmyemail_team_2013.pdf', target='_blank') SMME 2013
              br
              a(href='snailmailmyemail_team_2012.pdf', target='_blank') SMME 2012
              br
              a(href='snailmailmyemail_team.pdf', target='_blank') SMME 2011
              br
        .one-third.column.border.last
          h3 Get Involved
          // <p><P><strong>Nov 11, 2013:</strong> We are accepting letter artist volunteers: <a href="smme-volunteer-information-2013.pdf">Sign up here</a>.</P>
          p
            | Join our 
            a(href='http://www.facebook.com/snailmailmyemail') Facebook Page
            |  to stay in touch and receive updates about the project and related news:
          //
            or <a href="http://twitter.com/#!/SnailMailEmail">follow us on Twitter</a>.   <p><a href="http://twitter.com/SnailMailEmail" class="twitter-follow-button">Follow @SnailMailEmail</a>
            <script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script></p>
          iframe(src='http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fsnailmailmyemail&width=260&colorscheme=light&show_faces=true&border_color&stream=true&header=true&height=315', scrolling='no', frameborder='0', style='border:none; overflow:hidden; width:260px; height:315px;', allowtransparency='true')
          p
      .sixteen.columns.press
        ul.none
          li Featured In:
          li
            a(href='http://www.cnn.com/2011/TECH/web/08/04/snail.mail.email/', title='Visit Link', target='_blank')
              img(src='images/press/cnn.png', alt='press image')
          li
            a(href='http://gizmodo.com/5822850/get-the-thoughtfulness-of-snail-mail-with-none-of-the-effort', title='Visit Link', target='_blank')
              img(src='images/press/gizmodo.png', alt='press image')
          li
            a(href='http://blogs.wsj.com/digits/2011/07/25/the-pen-is-mightier-an-online-service-transcribes-email-by-hand/#', title='Visit Link', target='_blank')
              img(src='images/press/wall-street-journal.png', alt='press image')
          li
            a(href='http://www.good.is/post/snail-mail-my-email-marries-romance-of-analog-with-convenience-of-digital/', target='_blank')
              img(src='images/press/good.png', alt='press image')
          li
            a(href='http://latimesblogs.latimes.com/technology/2011/08/snail-mail-email.html', title='Visit Link', target='_blank')
              img(src='images/press/la-times.png', alt='press image')
          li
            a(href='http://www.pcworld.com/article/235954/art_project_writes_out_your_email_in_pen_gives_you_geeky_nostalgia.html', title='Visit Link', target='_blank')
              img(src='images/press/pc-world.png', alt='press image')
          li
            a(href='http://mashable.com/2013/11/13/snail-mail-my-email/', title='Visit Link', target='_blank')
              img(src='images/press/mashable.png', alt='press image')
            // <li><a href="http://www.engadget.com/2011/07/25/snail-mail-my-email-outsources-your-emotions-to-foreign-hands/" title="Visit Link" target="_blank"><img src="images/press/engadget.png" alt="press image"/></a>
      hr.hidden
      #technical
        | Site Development : 
        a(style='font-weight: bold; text-decoration: none;', href='http://51bloom.com', target='_blank', title='51bloom.com')
          span(style='opacity:0.8;') 51
          | BLOOM
    // container
    //
      JS
      ==================================================
    script(src='scripts/jquery.2.0.3.js')
    script(src='scripts/jquery.scrollTo.js')
    script(src='scripts/jquery.client.js')
    script(src='scripts/jquery.widowFix-1.3.2.js')
    script(src='scripts/smmeform.js')
    script.
      $(document).ready(function() {
      if($.client.os == "Windows")
      {
      $("h1,h2,h3,h4,h5,h6").css('font-family', 'georgia');
      }
      });
    script(src='scripts/app.js')
    // AddThis Button BEGIN
    script(type='text/javascript').
      var addthis_config = {"data_track_clickback":true};
    script(type='text/javascript', src='http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4e2886ac3bdf17b2')
    // AddThis Button END
    //
      End Document
      ==================================================
