/*-------------------------------------------------------
OVERLAY
--------------------------------------------------------*/
#overlay-gray{
	position: fixed;
	top: 0px;
	left:0px;
	background: #979797;
	opacity: 0.9;
	width: 100%;
	height: 100%;
	z-index: 900;
	display: none;
	}
#overlay-box-wrapper{
	position: absolute;
	z-index: 999;
	width: 620px;
	height: 400px;
	background: white;
	}	
#overlay-box{
	position: absolute;
	width: 620px;
	height: 400px;
	top: 0px;
	}
	#overlay-box #close-x{
		width: 30px;
		height: 30px;
		background: url(../images/icon_close.png) no-repeat;
		position: absolute;
		top: 0px;
		right: 0px;
		cursor: pointer;
		}
	#overlay-text{
		text-align: center;
		font-size: 24px;
		line-height: 36px;
		margin: 80px auto;
		width: 550px;
		}

/*-------------------------------------------------------
FORM
--------------------------------------------------------*/

#send-a-letter #success-text{
	width: 740px;
	text-align: center;
	font-size: 40px;
	line-height: 50px;
	text-shadow:0 1px 1px rgba(255, 255, 255, 0.3);
	font-weight:400;	
	margin: 200px auto;
	}

#send-a-letter{
	min-height: 800px;
	position: relative;
	}
	#form-wrapper{
		position: relative;
		}
	#send-a-letter textarea{
		resize: none;
		}
	#send-a-letter .bold{
		font-weight: bold;
		}
	#send-a-letter .black{
		color: black;
		}
	#send-a-letter .small{
		font-weight: lighter;
		font-size: 12px;
		}
	#send-a-letter .title{
		width: 100%;
		font-size: 14px;
		letter-spacing: 1px;
		line-height: 40px;
		}
	#send-a-letter #name-address{
		position: absolute;
		top: 6px;
		width: 400px;
		}
	#message-counter{
		font-weight: normal;
		font-style: italic;
		}
	#message-counter.red{
		color: #f00b0b;
		}
		#name-address #address-text{
			box-shadow: inset 0px 2px 2px #a8a8a8;
			width: 300px;
			height: 160px;
			background: white url(../images/address-bkg.png);
			border-radius: 6px;
			font-size: 20px;
			line-height: 40px;
			padding: 12px 32px;
			}
			input.name-address{
				background: none;
				width: 290px;
				font-size: 22px;
				line-height: 30px;
				margin: 0 0 0px 0;
				border: none;
				}
			input.name-address:focus{
				border: none;
				outline: 0;
				}
			
	#send-a-letter #custom-option{
		position: absolute;
		font-size: 14px;
		top: 280px;		
		}
		#suggest-your-own{
			float: left;
			margin: 20px 0 0 0;
			}	
		#custom-option #custom-suggestion{
			font-style: normal;
			box-shadow: inset 0px 2px 2px #a8a8a8;
			border: none;
			background: white;
			opacity: 0;
			font-size: 16px;
			line-height: 20px;
			padding: 4px;
			width: 200px;
			margin: 15px 0 0 0;
			float: right;
			}
	
	#send-a-letter #email{
		position: absolute;
		top: 428px;
		}
		#email #input-email{
			box-shadow: inset 0px 2px 2px #a8a8a8;
			border: none;
			background: white;
			border-radius: 6px;
			font-size: 22px;
			line-height: 30px;
			padding: 6px;
			width: 352px;
			}
		
	#send-a-letter #message{
		position: absolute;
		top: 6px;
		width: 465px;
		right: 0px;
		}
		#message #message-text{
			box-shadow: inset 0px 2px 2px #a8a8a8;
			background: white;
			border: none;
			padding: 32px;
			width: 400px;
			line-height: 30px;
			font-size: 16px;
			border-radius: 6px;
			min-height: 400px;
			}
	
	#send-a-letter #form-button{
		width: 465px;
		color: white;
		position: absolute;
		top: 540px;
		right: 0px;
		font-weight: bold;
		background: #05afec;
		text-align: center;
		line-height: 60px;
		font-size: 16px;
		cursor: pointer;
		-moz-border-radius:6px;
		-webkit-border-radius:6px;
		border-radius:6px;
		}
	#send-a-letter #form-button:hover{
		background: #097da7;
		-moz-transition-duration: 0.6s;
		-webkit-transition-duration: 0.6s;
		-o-transition-duration: 0.6s;
		transition-duration: 0.6s;
		}
	
	#send-a-letter #legal{
		position: absolute;
		top: 620px;
		right: 0px;
		width: 465px;
		}
		#legal #legal-checkbox{
			position: absolute;
			top: 10px;
			}
		#legal #legal-text{
			font-style: italic;
			width: 440px;
			float: right;
			line-height: 20px;
			}
		#legal-btn, #privacy-btn{
			cursor: pointer;
			text-decoration: underline;
			}



@media (max-width: 400px){
	#send-a-letter #message-text{
		margin: 15px auto;
		top: 0px;
		height: 300px;
		width: 100%;
		position: relative;
		}
	}

@media (max-width: 959px){
	
	#form-wrapper{
		width: 90%;
		margin: 0 auto;
		}

	#custom-option-small{
		height: 150px;
		margin: 0px;
		}
	
	#custom-option-small #custom-option-dropdown{
		height: 40px;
		line-height: 40px;
		width: 100%;
		color: #000000;
		margin: 10px 0 0 0;
		}
	
	#custom-suggestion-small{
		width: 100%;
		margin: 10px 0 0 0;
		display: none;
		height: 30px;
		line-height: 30px;
		font-size: 22px;
		}
	
	#suggest-your-own{
		margin: 5px 0 0 0;
		width: 100%;
		}
	#send-a-letter #success-text{
		width: 100%;
		text-align: center;
		font-size: 40px;
		line-height: 50px;
		text-shadow:0 1px 1px rgba(255, 255, 255, 0.3);
		font-weight:400;	
		margin: 200px auto;
		}
	#send-a-letter #legal-text{
		margin: 15px auto;
		width: 100%;
		position: relative;
		top: 0px;
		}
	#send-a-letter #email{
		margin: 20px auto;
		width: 100%;
		position: relative;
		top: 0px;
		}
	#email #input-email{
		padding: 5px 0px;
		width: 100%;
		}	
	#send-a-letter #custom-option{
		margin: 15px auto;
		width: 100%;
		height: 150px;
		position: relative;
		top: 0px;
		}
	#custom-option #custom-suggestion{
		width: 100%;
		margin: 10px 0 0 0;
		}	
	
	#send-a-letter #name-address{
		width: 90%;
		height: 270px;
		position: relative;
		padding: 0px;
		}
	#name-address #address-text{
		box-shadow: inset 0px 2px 2px #a8a8a8;
		width: 100%;
		height: 160px;
		background: white url(../images/address-bkg-rpt.png) center top repeat-x;
		border-radius: 6px;
		font-size: 20px;
		line-height: 40px;
		padding: 12px;
		}
	input.name-address{
		background: none;
		width: 80%;
		font-size: 22px;
		line-height: 30px;
		margin: 0 auto;
		border: none;
		}
			
	#message #message-text{
		width: 100%;
		padding: 0px;
		}
		
	#send-a-letter #message{
		margin: 15px auto;
		top: 0px;
		width: 100%;
		position: relative;
		}
	#send-a-letter #form-button{
		margin: 15px auto;
		top: 0px;
		width: 100%;
		position: relative;
		}
	#send-a-letter #legal{
		margin: 15px auto;
		position: relative;
		top: 0px;
		width: 90%;
		}
		#legal #legal-text{
			font-style: italic;
			width: 90%;
			float: right;
			line-height: 20px;
			}
	#overlay-box-wrapper{
		position: fixed;
		z-index: 999;
		width: 90%;
		height: 90%;
		background: white;
		top: 5%;
		left: 5%;
		}	
	#overlay-box{
		position: absolute;
		border: 1px solid #86b1f2;
		width: 100%;
		height: 100%;
		z-index: 9999;
		}
	#overlay-text{
		text-align: center;
		font-size: 16px;
		line-height: 22px;
		margin: 80px auto;
		width: 90%;
		}
	#overlay-box #close-x{
		width: 30px;
		height: 30px;
		background: url(../images/icon_close.png) no-repeat;
		position: absolute;
		top: 20px;
		left: 50%;
		margin: 0 0 0 -15px;
		cursor: pointer;
		}	
						
}

		