	/* 
* Skeleton V1.0.3
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 7/17/2011
*/

/* Custom Styles added by Scottblew.me
================================================== */

$blue: #00abeb;
$red: #ed3e41;
$orange: #f89649;

body {
	background:#e4e4e4 url(images/beige_paper.png) repeat 0 0 scroll;
	color:#333;
}

h1,h2,h3,h4,h5,h6 {
	text-shadow:0 1px 1px rgba(255, 255, 255, 0.3);
	font-family: 'Love Ya Like A Sister', cursive;
	font-weight:400;	
}
bold {
	font-weight: bold;
}
p {
	line-height: 1.6em;
}

.lg{
	font-size: 32px;
}
html, body {
	height: 99%; width: 100%;
}

#home {
	margin-top: 35px;
	height: calc(100% - 35px); width: 100%;
	position: relative;
	overflow: hidden;
	z-index: 5;
	>img {
		height: 80%;
		width: auto;
		position: absolute;
		top: 50%; left: 50%; 
		@include transform(translate(-50%,-50%));
	}
	.hero-press {
		position: absolute;
		bottom: 5px; left: 5%;
		width: 90%;
		height: auto;
		display: flex;
		align-items: center;
		justify-content: center;
		a {
			width: calc(100% / 8);
			opacity: .8;
			@include transition(all, 250ms, ease-out);
			img {
				width: 100%;
			}
		}
		a:hover {
			opacity: 1;
			@include transform(scale(1.1));
		}

	}
	.hero-press::before {
		content: 'As Seen On';
		position: absolute;
		top: -15px;
		left: 3.5%;
		color: white;
		font-size: 14px;
		opacity: .4;
	}
}
.intro {
	padding: 75px 0px;
	img {
		max-width: 650px;
		margin: auto;
		display: block;
	}
}
.intro h2{
	line-height: 1.7em;
}
.intro a {
	border: 1px solid grey;
	font-size: 18px;
	padding: 5px 15px;
	text-decoration: none;
	margin: 0px 5px;
	color: grey;
	@include transition(all, 250ms, ease-out);
}
.intro a:hover {
	color: black;
	border: 1px solid black;
	box-shadow: 0px 2px 2px rgba(0,0,0,.15);
}
p.lg {
	font-size:24px;
	text-align: center;
}
p.lg2 {
	font-size: 20px;
	margin: 0px auto 15px auto;
	text-align: center;
	max-width: 610px;
}
.intro {
	img {
		margin-bottom: 25px;
	}
}
#icons {
	height:120px;
	background:transparent url(images/smme-icons.png) no-repeat center top;
	margin:35px auto;
	text-align: center;
	width: 100%;
}

.wrap {
	background-color: white;
	background:#e4e4e4 url(images/beige_paper.png) repeat 0 0 scroll;
}
#videobg {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -10;
	video {
		position: absolute;
		top: 49%; left: 49%;
		@include transform(translate(-50%,-50%));
		width: auto; height: auto; min-width: 102%; min-height: 102%;
	}
}

.menu {
	position: fixed;
	height: 45px;
	background: #fff url(images/hr_bg.png) repeat-x 0 bottom;
	width: 100%;
	left: 0px;
	top: 0px;
	z-index: 10;
}

#map {
	margin: 35px 0px;
	.map-wrap{
		position: relative;
		cursor: hand; cursor: pointer;
		@include transition(all, 350ms, ease-out);
		.disable {
			position: absolute;
			top: 0px; left: 0px;
			height: 100%; width: 100%; 
			background: rgba(0,0,0,.5);
			@include transition(all, 350ms, ease-out);
		}
		h1 {
			position: absolute;
			top: 50%; left: 50%;
			@include transform(translate(-50%,-50%));
			@include transition(all, 350ms, ease-out);
			color: white;
			text-shadow: 0px 2px 2px rgba(0,0,0,.15);
			padding: 5px 15px;
			background-color: rgba(255,255,255,0);
		}
	}
	.map-wrap:hover {
		.disable {
			background: rgba(0,0,0,0);
		}
		h1 {
			color: black;
			background-color: rgba(255,255,255,1);
			box-shadow: 0px 2px 2px rgba(0,0,0,.15);
		}
	}
	.map-key {
		margin-top: 5px;
			p {
				position: relative;
				margin-left: 15px;
				font-size: 13px;
			}
			p::before {
				content: '';
				height: 7px; width: 7px;
				border-radius: 50%;
				background-color: red;
				border: 2px solid black;
				position: absolute;
				top: 4px; left: -15px;
			}
		}
}

#smme-v {
	width: 100%;
	text-align: center;
	margin: 35px 0px;
	.countdown {
		margin-bottom: 35px;
	}
	p {
		font-size: 32px;
		line-height: 32px;
	}
	p:last-of-type {
		margin-bottom: 45px;
	}
	#clock {
		font-size: 34px;
		span {
			font-weight: bold;
		}
		span:first-of-type, span:last-of-type{
			color: $blue;
		}
		span:nth-of-type(2){
			color: $red;
		}
		span:nth-of-type(3){
			color: $orange;
		}
	}
}


#gallery, #book-lg, #footer-lg {
	margin: 35px 0px;
}

#book-lg {
	.book-hero {
		margin-top: 45px;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: white;
		padding: 25px;
		border: 2px solid black;
	}
	.bookshot {
		width: 50%;
	}
	.reviews{
		width: 50%;
		ul {
			margin-bottom: 0px;
		}
		li {
			width: 100%;
			text-align: center;
			font-size: 25px;
			margin: 0px;
			margin-bottom: 15px;
			p {
				margin: 0px;
			}
			p:first-of-type {
				font-weight: bold;
				font-style: italic;
			}
			p:last-of-type {
				font-size: 14px;
			}
		}
		li:first-of-type{
			p:first-of-type{
				color: $red;
			}
		}
		li:nth-of-type(2){
			p:first-of-type{
				color: $blue;
			}
		}
		li:last-of-type{
			margin-bottom: 0px;
			p:first-of-type{
				color: $orange;
			}
		}
	}
	.actions {
		clear: both;
		ul {
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-flow: row;
			margin-top: -2px;
		}
		li {
			margin-right: 15px;
			width: 15%;
			box-sizing: border-box;
			padding: 5px 10px;
			border: 2px solid black;
			@include transition(all, 250ms, ease-out);
			opacity: .8;
			img {
				width: 100%;
				@include transform(scale(.85));
				@include transition(all, 250ms, ease-out);
			}
		}
		li:hover {
			opacity: 1;
			@include transform(scale(1.05) translate(0px,2px));
			img {
				@include transform(scale(.9));
			}
		}
	}
}

#footer-lg {
	display: flex;
	div {
		width: 32%;
	}
	div:nth-child(2){
		margin: 0px 2%;
	}
	.press {
		margin-top: 60px;
	}
}
.next {
	background-color: black;
}

#nav {
	float: left;
	margin: 14px 10px 0;
}

#nav li {
	float:left;
	margin:0px 20px;
	cursor: pointer;
  	cursor: pointer; cursor: hand;
}

#nav li a {
  text-decoration:none;
}
#nav li.current a,#nav li a:hover {
	color: #05afec;
}

.logo {
	margin: 70px 44% 2%;
}



hr {
	border:none;
	background:transparent url(images/hr_bg.png) repeat-x 0 0;
	height:2px;
}

hr.small, hr.mid {
	margin: 10px 0 15px;
	width: 100%;
	display: none;
}

hr.space {
	margin: 10px 0 35px;
}

hr.hidden {
	background:none;
}

.header h1 {
	color:#000;
	font-size: 5em;
	line-height: 1.2em;
	/*text-shadow:1px 1px rgba(255,0,102,0.25), 2px 2px rgba(255, 0, 102, 0.25), 3px 3px rgba(255, 0, 102, 0.25), 4px 4px rgba(255, 0, 102, 0.25), 5px 5px rgba(255, 0, 102, 0.5);*/
}

.addthis_toolbox {
	float: right;
	min-width: 210px;
	margin: 12px 20px 0;
}

.center {
	text-align:center;
}

#instructions .column.one-third {
	min-height:290px;
}

#footer .column.one-third {
	min-height:450px;
	margin-bottom:25px;
}


.column.one-third.border {
	padding-right:20px;
	background:transparent url(images/vertical_bg.png) repeat-y right 0;
	width:280px;
}

.column.one-third.border.last {
	background:none;
	padding:0px;
}

#technical{
	font-size: 14px;
	text-align: center;
	padding: 0px 0 50px 0;	
	}

.press{
	margin: 25px 0px;
}

.press ul {
	margin:0px auto;
	margin-bottom: 20px;
	float: left;
}

.press ul li{
	float:left;
	margin:0 20px;
}

.press img {
	/* for IE */
	  filter:alpha(opacity=75);
	opacity:0.75;
}


.visible-sm{
	display: none;
	}
.visible-md{
	display: none;
	}	
.hidden-sm{
	display: inline-block;
	}
.centered{
	text-align: center;
	width: 100%;
	}
.learn-more{
	cursor: pointer;	
	}
.nav-item{
	cursor: pointer;
	}	

@media (max-width: 959px){
	#snap-frame{
		border:none; 
		overflow:hidden; 
		width:100%; 
		height: 612px;
		}
	#thebook-image{
		width: 100%;
		max-width: 600px;
		margin: 0 auto;
		height: 600px;
		background: url(images/book-600.png) no-repeat white center top;
		background-size: cover;
		}
	
	.column.one-third.border {
		background: none;
	}
	.img-responsive{
		height: auto;
		width: 100%;
		}
	p.lg{
		font-size: 18px;
		}
	p.lg2 {
		font-size: 15px;
	}
	.lg{ font-size: 20px; }
	.visible-sm{
		display: inline;
		}
	.hidden-sm{
		display: none;
		}
	#small-menu-hamburger{
		z-index: 998;
		position: fixed;
		text-indent: 50px;
		line-height: 40px;
		color: transparent;
		top: 0px;
		left: 0px;
		width: 55px;
		height: 40px;
		display: block;
		background: #ffffff url(images/hamburger-nav.png) no-repeat;
		background-position: 15px 12px;
		cursor: pointer;
		padding-left: 10px;
		padding-top: 10px;
		}	
	#small-menu-slider{
		position: fixed;
		z-index: 999;
		top:0px;
		left:-221px;
		width: 220px;
		height: 100%;
		background: #ffffff;
		border-right: 1px solid gray;
		border-bottom: 1px solid gray;
		}
		#small-menu-slider #small-nav{
			margin: 30px;
			z-index: 999;
			}
		#small-nav li{
			float: none;
			height: 32px;
			line-height: 32px;
			}
		#small-menu-close{
			position: absolute;
			top: 10px; 
			right: 10px;
			display: block;
			cursor: pointer;
			}
		
		#small-menu-slider #small-nav li{
			cursor: pointer;
			float: none;
			height: 38px;
			line-height: 28px;
			text-align: left;
			width: 150px;
			border-bottom: 1px solid silver;
			}
			#small-menu-slider #small-nav li:last-child{
				border-bottom: none;
				}
		#small-nav li a, #small-nav li a:hover, #small-nav li a:visited{
			text-decoration: none !important;
			}	
		#small-menu-slider #social-small{
			position: absolute;
			bottom: 30px;
			left: 30px;
			}
			#small-menu-slider #social-small a{
				float: none;
				width: 200px;
				height: 30px;
				margin: 5px 0px;
				}
		.thebook-link{
			width: 100%;
			max-width: 600px;
			min-width: 320px;
			margin: 0 auto;
			text-align: center;
			background: #ffffff;
			}	

	#footer #footer-about, #footer #footer-team, #footer #footer-involved{
		text-align: center;
		float: none;
		width: 90% !important;
		position: relative;
		margin: 0 auto !important;
		padding: 0px !important; 
		}
	.press ul{
		float: none;
		width: 200px;
		margin: 0 auto;
		}
	.press ul li{
		padding: 0px;
		float: none;
		margin: 5px 0;
		text-align: center;
		width: 200px;
		}	
}	



@media (max-width: 800px){
	.visible-lg{
		display: inline;
		}
	#snap-frame{
		border:none; 
		overflow:hidden; 
		width: 100%; 
		height: 340px;
		}
	#home {
		.hero-press {
			display: none;
		}
	}

		.container {
			width: 85%;
		}

	#book-lg {
		.book-hero {
			flex-flow: column;
			margin: 15px 0px;
		}
		.bookshot {
			width: 70%;
			margin-left: 15%;
			margin-right: 15%;
		}
		.reviews {
			width: 100%;
			margin-top: 15px;
		}
		.actions {
			ul {
				flex-flow: column;
			}
			li {
				width: 45%;
				max-width: 200px;
				margin: 0px;
				margin-bottom: 10px;
				border: 0;
			}
		}
	}

	#footer-lg {
		flex-flow: wrap;
		hr.mid {
			display: inherit;
			margin-bottom: 45px;
		}
		div:first-of-type {
			width: 90%;
			margin-bottom: 25px;
		}
		div:nth-child(2), div:nth-child(3) {
			width: 50%;
			margin: 0px;
		}
	}
}	

@media (max-width: 550px){
	#videobg {
		display: none;
	}
	#home {
		background: url(images/poster.jpg) no-repeat center center;
		background-size: cover;
		margin-top: 0px;
		height: 100%;
	}
	.hidden-sm{
		display: none;	
		}
	.visible-lg{
		display: none;
		}
	.visible-md{
		display: inline;	
		}
	#snap-frame{
		border:none; 
		overflow:hidden; 
		width: 100%; 
		height: 502;
		}
		.map-wrap {
			h1 {
				width: 100%;
			}
		}
	#footer-lg {
		hr.small {
			margin: 35px 0px;
			display: inherit;
		}
		div {
			p:last-of-type{
				margin-bottom: 0px;
			}
			li:last-of-type {
				margin-bottom: 0px;
			}
			ul {
				margin-bottom: 0px;
			}
		}
		div:nth-child(1){
			margin-bottom: 0px;
		}
		div:nth-child(2), div:nth-child(3) {
			width: 100%;
		}
		div:nth-child(2) {
			margin-bottom: 25px;
		}
	}
}	


@media (max-width: 399px ){
	.visible-lg{
		display: none;
		}
	.visible-md{
		display: hidden;	
		}	
	#snap-frame{
		border:none; 
		overflow:hidden; 
		width:100%; 
		height: 362px;
		}
}
