/*-------------------------------------------------------
OVERLAY
--------------------------------------------------------*/
#overlay-gray{
	position: fixed;
	top: 0px;
	left:0px;
	background: #979797;
	opacity: 0.9;
	width: 100%;
	height: 100%;
	z-index: 900;
	display: none;
	}
#overlay-box-wrapper{
	position: absolute;
	z-index: 999;
	width: 620px;
	height: 400px;
	background: white;
	}	
#overlay-box{
	position: absolute;
	width: 620px;
	height: 400px;
	top: 0px;
	}
	#overlay-box #close-x{
		width: 30px;
		height: 30px;
		background: url(images/icon_close.png) no-repeat;
		position: absolute;
		top: 0px;
		right: 0px;
		cursor: pointer;
		}
	#overlay-text{
		text-align: center;
		font-size: 24px;
		line-height: 36px;
		margin: 80px auto;
		width: 550px;
		}

/*-------------------------------------------------------
FORM
--------------------------------------------------------*/
.left, .right {
	width: 46%;
	float: left;
}
.right {
	float: right;
}
input, textarea, #address-text {
    box-sizing: border-box;
}


#send-a-letter #success-text{
	width: 740px;
	text-align: center;
	font-size: 40px;
	line-height: 50px;
	text-shadow:0 1px 1px rgba(255, 255, 255, 0.3);
	font-weight:400;	
	margin: 200px auto;
	}

#send-a-letter{
	min-height: 800px;
	position: relative;
	}
	#form-wrapper{
		position: relative;
		margin: 45px auto 0px auto;
		}
	#send-a-letter textarea{
		resize: none;
		}
	#send-a-letter .bold{
		font-weight: bold;
		}
	#send-a-letter .black{
		color: black;
		}
	#send-a-letter .small{
		font-weight: lighter;
		font-size: 12px;
		}
	#send-a-letter .title{
		width: 100%;
		font-size: 14px;
		letter-spacing: 1px;
		line-height: 40px;
		}
	#send-a-letter #name-address{
		}
	#message-counter{
		font-weight: normal;
		font-style: italic;
		}
	#message-counter.red{
		color: #f00b0b;
		}
		#name-address #address-text{
			box-shadow: 0px 2px 2px rgba(0,0,0,.05);
			background: white;
			border-radius: 3px;
			font-size: 20px;
			line-height: 40px;
			padding: 20px 32px;
				input:last-of-type{
					margin-bottom: 20px;
				}
			}
			input.name-address{
				background: none;
				width: 100%;
				font-size: 22px;
				line-height: 30px;
				margin: 0 0 0px 0;
				border: none;
				border-bottom: 1px solid rgba(0,0,0,.4);
				}
			input.name-address:focus{
				border: none;
				border-bottom: 2px solid rgba(0,0,0,.4);
				outline: none;
				box-shadow: none;
			}
			
	#send-a-letter #custom-option{
		font-size: 14px;
		}
		#suggest-your-own{
			float: left;
			margin: 15px 0 10px 0;
			}	
		#custom-option #custom-suggestion{
			font-style: normal;
			box-shadow: 0px 2px 2px rgba(0,0,0,.05);
			border: none;
			background: white;
			opacity: 0;
			font-size: 16px;
			line-height: 20px;
			padding: 4px;
			width: 200px;
			margin: 15px 0 0 0;
			}
	
	#send-a-letter #email{
		input {
			padding: 15px 30px;
		}
		}
		#email #input-email{
			box-shadow: 0px 2px 2px rgba(0,0,0,.05);
			border: none;
			background: white;
			border-radius: 3px;
			font-size: 22px;
			line-height: 30px;
			padding: 6px;
			width: 100%;
			}
		
	#send-a-letter #message{
		}
		#message #message-text{
			box-shadow: 0px 2px 2px rgba(0,0,0,.05);
			background: white;
			border: none;
			padding: 32px;
			line-height: 30px;
			font-size: 16px;
			border-radius: 3px;
			min-height: 270px;
			width: 100%;
			}
	input[type=radio]{
		margin-right: 5px;
	}
	em {
		margin-right: 15px;
	}
	
	#send-a-letter #form-button{
		width: 100%;
		color: white;
		font-weight: bold;
		background: #05afec;
		text-align: center;
		line-height: 60px;
		font-size: 16px;
		cursor: pointer;
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
		border-radius:3px;
		box-shadow: 0px 2px 2px rgba(0,0,0,.05);
		-moz-transition-duration: 0.6s;
		-webkit-transition-duration: 0.6s;
		-o-transition-duration: 0.6s;
		transition-duration: 0.6s;
		}
	#send-a-letter #form-button:hover{
		background: #03a0d8;
		box-shadow: 0px 2px 2px rgba(0,0,0,.5);
		}
	
	#send-a-letter #legal{
		margin-bottom: 10px;
		input {
			float: left;
		}
		}
		#legal #legal-checkbox{
			}
		#legal #legal-text{
			font-style: italic;
			line-height: 20px;
			}
		#legal-btn, #privacy-btn{
			cursor: pointer;
			text-decoration: underline;
			}



@media (max-width: 400px){
	#send-a-letter #message-text{
		margin: 15px auto;
		height: 300px;
		width: 100%;
		position: relative;
		}
	}

@media (max-width: 959px){
	.left, .right {
		clear: both;
		width: 100%;
	}
	#form-wrapper{
		margin: 0 auto;
		}

	#custom-option-small{
		height: 150px;
		margin: 0px;
		}
	
	#custom-option-small #custom-option-dropdown{
		height: 40px;
		line-height: 40px;
		width: 100%;
		color: #000000;
		margin: 10px 0 0 0;
		}
	
	#custom-suggestion-small{
		width: 100%;
		margin: 10px 0 0 0;
		display: none;
		height: 30px;
		line-height: 30px;
		font-size: 22px;
		}
	
	#suggest-your-own{
		margin: 5px 0 0 0;
		width: 100%;
		}
	#send-a-letter #success-text{
		width: 100%;
		text-align: center;
		font-size: 40px;
		line-height: 50px;
		text-shadow:0 1px 1px rgba(255, 255, 255, 0.3);
		font-weight:400;	
		margin: 200px auto;
		}
	#send-a-letter #legal-text{
		margin: 15px auto;
		width: 100%;
		}
	#send-a-letter #email{
		margin: 20px auto;
		width: 100%;
		}
	#email #input-email{
		padding: 5px 15px;
		width: 100%;
		}	
	#send-a-letter #custom-option{
		margin: 15px auto;
		width: 100%;
		height: 150px;
		}
	#custom-option #custom-suggestion{
		width: 100%;
		margin: 10px 0 0 0;
		}	
	
	#send-a-letter #name-address{
		padding: 0px;
		margin-bottom: 25px;
		}
	#name-address #address-text{
		box-shadow: 0px 2px 2px rgba(0,0,0,.05);
		width: 100%;
		background: white;
		border-radius: 6px;
		font-size: 20px;
		line-height: 40px;
		}
	input.name-address{
		background: none;
		font-size: 22px;
		line-height: 30px;
		}
			
	#message #message-text{
		width: 100%;
		padding: 15px;
		}
		
	#send-a-letter #message{
		margin: 15px auto;
		top: 0px;
		width: 100%;
		}
	#send-a-letter #form-button{
		margin: 15px auto;
		top: 0px;
		width: 100%;
		}
	#send-a-letter #legal{
		margin: 15px auto;
		top: 0px;
		}
		#legal #legal-text{
			font-style: italic;
			line-height: 20px;
			}
	#overlay-box-wrapper{
		position: fixed;
		z-index: 999;
		width: 90%;
		height: 90%;
		background: white;
		top: 5%;
		left: 5%;
		}	
	#overlay-box{
		position: absolute;
		border: 1px solid #86b1f2;
		width: 100%;
		height: 100%;
		z-index: 9999;
		}
	#overlay-text{
		text-align: center;
		font-size: 16px;
		line-height: 22px;
		margin: 80px auto;
		width: 90%;
		}
	#overlay-box #close-x{
		width: 30px;
		height: 30px;
		background: url(images/icon_close.png) no-repeat;
		position: absolute;
		top: 20px;
		left: 50%;
		margin: 0 0 0 -15px;
		cursor: pointer;
		}	
						
}

		